<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>List</h2>
    <ul>
    {%for transcation in transactions%}
        <li> {{transcation.description}} -- {{transcation.date}} -- {{transcation.value}} -- {{transcation.category}} </li>
    {% endfor%}
    </ul>
</body>
</html>
